.btn-focus-none:focus {
    box-shadow: none;
}

.sticky-top {
    position: fixed;
    top: 0;
    left: 0 ;
    right: 0;
}

.navbar-underline {
    width: 100%;

    div {
        height: 2px;
    }
    top: 75.5px;

    @include screen-md{
        top: 90px;
    }
}