<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		<%- title %>
	</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
	<link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
	<!-- navigation -->
	<nav class="sticky-top">
		<div class="navbar navbar-expand-md navbar-dark bg-dark py-4 position-relative">
			<div class="container">
				<a class="navbar-brand" href="./index.html">
					<picture>
						<source srcset="./assets/images/logo.svg" media="(min-width: 768px)" height="42px">
						<img src="./assets/images/logo2.svg" alt="logo" height="24px" class="d-block">
					</picture>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="material-symbols-outlined text-primary">drag_handle</span>
				</button>
				<div class="collapse navbar-collapse mt-6 mt-md-0 justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav text-center">
						<li class="nav-item">
							<a class="nav-link px-md-4" aria-current="page" href="./index.html">首頁</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-md-4" href="./course-intro.html">課程介紹</a>
						</li>
						<li class="nav-item">
							<button class="btn btn-link btn-focus-none w-100 px-0 py-2 border-0 justify-content-center d-flex align-items-center px-md-4" data-bs-toggle="modal" data-bs-target="#loginModal">
								<span class="material-symbols-outlined me-2">account_circle</span>登入
							</button>							
						</li>
					</ul>
				</div>
			</div>
			<div class="d-flex position-absolute navbar-underline">
				<div class="w-50 bg-primary"></div>
				<div class="w-50 bg-light-blue"></div>
			</div>
		</div>
	</nav>
	<!-- Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="d-flex align-items-center justify-content-between">
					<h2 class="fs-5 fw-bold text-center ps-4 w-100">登入</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="row justify-content-center mt-4 mt-sm-5 mb-3">
					<div class="col-sm-9 col-lg-7">
						<div class="d-flex"></div>
						<div>
							<label for="email" class="form-label">信箱</label>
							<input type="email" class="form-control" id="email" placeholder="請輸入信箱">
						</div>
						<div class="mt-3 mt-sm-4">
							<label for="password" class="form-label">密碼</label>
							<input type="password" class="form-control" id="password" placeholder="請輸入密碼">
						</div>
						<div class="mt-3 mt-sm-4">
							<button class="btn btn-gradient w-100" type="submit">登入</button>
						</div>
						<div class="d-flex gap-3 align-items-center mt-4 mt-sm-6">
							<hr class="flex-grow-1"><p class="text-gray2">其他登入方式</p><hr class="flex-grow-1">
						</div>
						<div class="mt-3">
							<button class="btn btn-outline-light w-100"><img src="./assets/images/icon_fb.svg" alt="fb" class="me-5" width="24px"> Facebook 登入</button>
							<button class="btn btn-outline-light mt-3 md-sm-4 w-100"><img src="./assets/images/icon_google.svg" alt="fb" class="me-5" width="24px"> Google 登入</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

	<%- contents %>

	<footer class="p-3 bg-dark3">
		<p class="font-monospace fs-7 text-gray text-center mb-0">Coding Home © 2022 All Rights Reserved</p>
	</footer>

	<script src="./assets/js/vendors.js"></script>
	<script src="./assets/js/all.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/locales/zh-TW.js"></script>
</body>

</html>