.btn-gradient {
    color: $white;
    background-image: $gradient;
    background-color: white;
    background-origin: border-box;

    &:hover {
        background-image: $gradient-hover;
    }
}

.btn-outline-light:hover {
    color: $white;
    border: 1px solid $primary;
    background-color: rgba(255, 255, 255, .1);
}

.btn-outline-light.active {
    color: $primary;
    border: 1px solid $primary;
    background-color: transparent;
}

