.stepbar {
    counter-reset: step;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;

    li {
        flex-grow: 1;
        list-style: none;
        position: relative;
        text-align: center;

        &::before, &::after{
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            background-color: $gray2;
            top: 7px;
            z-index: 0;
        }

        &::before {
            left: 0;
        }
    
        &::after {
            right: 0
        }

        &:first-child, &:last-child {
            flex-grow: 0;
        }
    
        &:first-child::before, &:last-child::after {
            content: none;
        }
    }

    &-item::before {
        content: counter(step);
        counter-increment: step;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-family: $font-family-monospace;
        font-size: 12px;
        background-color: $dark3;
        border: 1px solid $white;
        border-radius: 100%;
        margin: 0 auto 4px auto;
        z-index: 5;
    }

    .active {
        color: $primary;

        &::before {
            color: $white;
            border-color: $primary;
            background: $primary;
        }
    }

    .check::before {
        content: "\e876";
        font-family: "Material Symbols Outlined"
    }
}